Repository hmcts/sds-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/hmi, @hmcts/juror-digital, @hmcts/mi, @hmcts/pip-admins, @hmcts/vh-devops

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/sds-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# Production applications
## environment rules
clusters/prod/ @hmcts/production-apps-approvals

## Platform rules

apps/kube-system/ @hmcts/platform-operations
apps/monitoring/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### Platform Operations

apps/admin/ @hmcts/platform-operations
apps/azure-devops/ @hmcts/platform-operations
apps/jenkins/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/toffee/ @hmcts/platform-operations

### HMI
apps/hmi/ @hmcts/hmi

### JD
apps/juror-digital @hmcts/juror-digital

### MI
apps/mi/ @hmcts/mi

### PIP
apps/pip/ @hmcts/pip-admins

## VH
apps/vh/ @hmcts/vh-devops

### Next team

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

sdshmctspublic.azurecr.io/pip/frontend:prod-0d227fa-20220902115641
  apps/pip/frontend/demo.yaml
  apps/pip/frontend/dev.yaml
  apps/pip/frontend/ithc.yaml
  apps/pip/frontend/pip-frontend.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/lgy-iac/web:prod-1f1fa8b-20220902124742
  apps/dts-legacy/lgy-iac-web/lgy-iac-web.yaml
Owners: @hmcts/platform-operations

amend booking queue
  apps/vh/booking-queue-subscriber/demo.yaml
  apps/vh/booking-queue-subscriber/dev.yaml
  apps/vh/booking-queue-subscriber/prod.yaml
  apps/vh/booking-queue-subscriber/stg.yaml
  apps/vh/booking-queue-subscriber/test.yaml
Owners: @hmcts/vh-devops

Fix branch name
  apps/admin/reply-urls-operator/kustomization.yaml
Owners: @hmcts/platform-operations

Fix branch name (#2219)
  apps/admin/reply-urls-operator/kustomization.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/pip/publication-services:prod-9462eb5-20220902141816
  apps/pip/publication-services/demo.yaml
  apps/pip/publication-services/dev.yaml
  apps/pip/publication-services/ithc.yaml
  apps/pip/publication-services/pip-publication-services.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/data-management:prod-f12695d-20220902141830
  apps/pip/account-management/demo.yaml
  apps/pip/account-management/dev.yaml
  apps/pip/data-management/demo.yaml
  apps/pip/data-management/dev.yaml
  apps/pip/data-management/ithc.yaml
  apps/pip/data-management/pip-data-management.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/account-management:prod-8f2bf01-20220902141856
  apps/pip/account-management/ithc.yaml
  apps/pip/account-management/pip-account-management.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/subscription-management:prod-1c6197f-20220902141904
  apps/pip/subscription-management/demo.yaml
  apps/pip/subscription-management/dev.yaml
  apps/pip/subscription-management/ithc.yaml
  apps/pip/subscription-management/pip-subscription-management.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/channel-management:prod-a046e0d-20220902141910
  apps/pip/channel-management/demo.yaml
  apps/pip/channel-management/dev.yaml
  apps/pip/channel-management/ithc.yaml
  apps/pip/channel-management/pip-channel-management.yaml
Owners: @hmcts/pip-admins

update sync config
  apps/admin/reply-urls-operator/sbox/reply-url-sync-config.yaml
Owners: @hmcts/platform-operations

update sync config (#2220)
  apps/admin/reply-urls-operator/sbox/reply-url-sync-config.yaml
Owners: @hmcts/platform-operations

amend booking queue (#2218)
  apps/vh/booking-queue-subscriber/demo.yaml
  apps/vh/booking-queue-subscriber/dev.yaml
  apps/vh/booking-queue-subscriber/prod.yaml
  apps/vh/booking-queue-subscriber/stg.yaml
  apps/vh/booking-queue-subscriber/test.yaml
Owners: @hmcts/vh-devops

Updated test
  apps/pip/frontend/test.yaml
Owners: @hmcts/pip-admins

Updated test (#2221)
  apps/pip/frontend/test.yaml
Owners: @hmcts/pip-admins

Test removing domainFilter
  apps/admin/reply-urls-operator/sbox/reply-url-sync-config.yaml
Owners: @hmcts/platform-operations

Update reply-url-sync-config.yaml
  apps/admin/reply-urls-operator/sbox/reply-url-sync-config.yaml
Owners: @hmcts/platform-operations

Update reply-url-sync-config.yaml
  apps/admin/reply-urls-operator/sbox/reply-url-sync-config.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/c100/application:prod-9b26973-20220902161940
  apps/c100/c100-application/c100-application.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/pip/frontend:prod-09c3701-20220905160129
  apps/pip/frontend/demo.yaml
  apps/pip/frontend/dev.yaml
  apps/pip/frontend/ithc.yaml
  apps/pip/frontend/pip-frontend.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/subscription-management:prod-50e6c60-20220905162416
  apps/pip/subscription-management/demo.yaml
  apps/pip/subscription-management/dev.yaml
  apps/pip/subscription-management/ithc.yaml
  apps/pip/subscription-management/pip-subscription-management.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/c100/application:prod-dce7bbd-20220905162914
  apps/c100/c100-application/c100-application.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/pip/frontend:prod-5eee985-20220905163258
  apps/pip/frontend/demo.yaml
  apps/pip/frontend/dev.yaml
  apps/pip/frontend/ithc.yaml
  apps/pip/frontend/pip-frontend.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/account-management:prod-29d6f5f-20220905163305
  apps/pip/account-management/ithc.yaml
  apps/pip/account-management/pip-account-management.yaml
Owners: @hmcts/pip-admins

sdshmctspublic.azurecr.io/pip/subscription-management:prod-ae1f81a-20220905171125
  apps/pip/subscription-management/demo.yaml
  apps/pip/subscription-management/dev.yaml
  apps/pip/subscription-management/ithc.yaml
  apps/pip/subscription-management/pip-subscription-management.yaml
Owners: @hmcts/pip-admins

Updated NLE to 2.30
  apps/juror-digital/jd-bureau/jd-bureau.yaml
  apps/juror-digital/jd-public/jd-public.yaml
Owners: @hmcts/juror-digital

Updated NLE to 2.30 (#2222)
  apps/juror-digital/jd-bureau/jd-bureau.yaml
  apps/juror-digital/jd-public/jd-public.yaml
Owners: @hmcts/juror-digital

DTSPO-6556 - add image config for reply-urls-operator
  apps/admin/reply-urls-operator/sbox/deployment-patch.yaml
  apps/admin/sbox/00/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - add image config for reply-urls-operator (#2223)
  apps/admin/reply-urls-operator/sbox/deployment-patch.yaml
  apps/admin/sbox/00/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - test moving ingressClassName to spec
  apps/toffee/frontend/toffee-frontend.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - test moving ingressClassName to spec (#2224)
  apps/toffee/frontend/toffee-frontend.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - add config for reply urls operator to demo
  apps/admin/demo/base/kustomization.yaml
  apps/admin/reply-urls-operator/demo/deployment-patch.yaml
  apps/admin/reply-urls-operator/demo/reply-url-sync-config.yaml
  apps/admin/reply-urls-operator/demo/secret.enc.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - add config for reply urls operator to demo
  apps/admin/reply-urls-operator/demo/secret.enc.yaml
Owners: @hmcts/platform-operations

DTSPO-6556 - add config for reply urls operator to demo (#2225)
  apps/admin/demo/base/kustomization.yaml
  apps/admin/reply-urls-operator/demo/deployment-patch.yaml
  apps/admin/reply-urls-operator/demo/reply-url-sync-config.yaml
  apps/admin/reply-urls-operator/demo/secret.enc.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/lgy-iac/web:prod-b6678d8-20220906114416
  apps/dts-legacy/lgy-iac-web/lgy-iac-web.yaml
Owners: @hmcts/platform-operations

Fixed RBAC setup for MI and tried to setup new imagePolicy rules
  apps/mi/base-dev/kustomization.yaml
  apps/mi/base-dev/mi-developer-rbac.yaml
  apps/mi/base/kustomization.yaml
  apps/mi/dev/base/kustomization.yaml
  apps/mi/ithc/base/kustomization.yaml
  apps/mi/mi-azure-functions/image-policy.yaml
  apps/mi/mi-azure-functions/prod.yaml
  apps/mi/mi-azure-functions/test.yaml
  apps/mi/prod/base/kustomization.yaml
  apps/mi/sbox/base/kustomization.yaml
  apps/mi/stg/base/kustomization.yaml
  apps/mi/test/base/kustomization.yaml
Owners: @hmcts/platform-operations, @hmcts/mi

Use base nonprod roles perms for stg
  apps/mi/stg/base/kustomization.yaml
Owners: @hmcts/platform-operations

Change the default liveness path from /health/liveness to /IACFees/health/liveness.do (the struts application needs .do suffix on url names)
  apps/dts-legacy/lgy-iac-web/lgy-iac-web.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/c100/application:prod-eb5c3ea-20220906160230
  apps/c100/c100-application/c100-application.yaml
Owners: @hmcts/platform-operations

sdshmctspublic.azurecr.io/c100/application:prod-1cf781c-20220906160517
  apps/c100/c100-application/c100-application.yaml
Owners: @hmcts/platform-operations
