Repository hmcts/sds-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/hmi, @hmcts/mi, @hmcts/pip-admins, @hmcts/vh-devops

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/sds-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# Production applications
## environment rules
## prod approvals process needs clarified
k8s/environments/prod/ @hmcts/platform-operations

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/namespaces/kube-system/ @hmcts/platform-operations
k8s/namespaces/monitoring/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### Platform Operations

k8s/namespaces/admin/ @hmcts/platform-operations
k8s/namespaces/azure-devops/ @hmcts/platform-operations
k8s/namespaces/jenkins/ @hmcts/platform-operations
k8s/namespaces/neuvector/ @hmcts/platform-operations
k8s/namespaces/toffee/ @hmcts/platform-operations

apps/admin/ @hmcts/platform-operations
apps/azure-devops/ @hmcts/platform-operations
apps/jenkins/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/toffee/ @hmcts/platform-operations

### HMI
k8s/namespaces/hmi/ @hmcts/hmi
apps/hmi/ @hmcts/hmi

### MI
k8s/namespaces/mi/ @hmcts/mi
apps/mi/ @hmcts/mi

### PIP
k8s/namespaces/pip/ @hmcts/pip-admins
apps/pip/rpe-send-letter-service/ @hmcts/pip-admins

## VH
k8s/namespaces/vh/ @hmcts/vh-devops
apps/vh/ @hmcts/vh-devops

### Next team

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

Remove duplicate identity.yaml line
  apps/dts-legacy/base/kustomization.yaml
Owners: @hmcts/platform-operations

Migrate PIP to FluxV2
  apps/pip/prod/base/azure-identity-patch.yaml
  apps/pip/prod/base/kustomization.yaml
  clusters/prod/base/kustomization.yaml
  k8s/environments/prod/common-overlay/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - Changed Azure Identity Location
  apps/pip/identity/prod.yaml
  apps/pip/prod/base/azure-identity-patch.yaml
  apps/pip/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - pip sub management prod
  apps/pip/subscription-management/prod.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - pub services
  apps/pip/publication-services/prod.yaml
Owners: @hmcts/platform-operations

Add PIP Frontend URL
  apps/pip/frontend/stg.yaml
  apps/pip/frontend/test.yaml
  k8s/namespaces/pip/pip-frontend/patches/prod/pip-frontend.yaml
Owners: @hmcts/platform-operations, @hmcts/pip-admins

DTSPO-6494 - Added some pip apps to Flux V2
  apps/pip/data-management/prod.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - pip frontend
  apps/pip/frontend/prod.yaml
Owners: @hmcts/platform-operations

Added some pip apps to flux v2
  apps/pip/account-management/prod.yaml
  apps/pip/channel-management/prod.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - Migrate PIP to FluxV2 (#1950)
  apps/pip/account-management/prod.yaml
  apps/pip/channel-management/prod.yaml
  apps/pip/data-management/prod.yaml
  apps/pip/frontend/prod.yaml
  apps/pip/identity/prod.yaml
  apps/pip/prod/base/kustomization.yaml
  apps/pip/publication-services/prod.yaml
  apps/pip/subscription-management/prod.yaml
  clusters/prod/base/kustomization.yaml
  k8s/environments/prod/common-overlay/kustomization.yaml
Owners: @hmcts/platform-operations

Add frontend url
  apps/pip/frontend/prod.yaml
Owners: @hmcts/platform-operations

Add PIP Frontend URL (#1951)
  apps/pip/frontend/prod.yaml
  apps/pip/frontend/stg.yaml
  apps/pip/frontend/test.yaml
  k8s/namespaces/pip/pip-frontend/patches/prod/pip-frontend.yaml
Owners: @hmcts/platform-operations, @hmcts/pip-admins

DTSPO-6494 - remove patches for pip
  k8s/environments/prod/common-overlay/flux-patch.yaml
Owners: @hmcts/platform-operations

DTSPO-6494 - remove patches for pip (#1952)
  k8s/environments/prod/common-overlay/flux-patch.yaml
Owners: @hmcts/platform-operations

Update configmap.yaml
  k8s/charts/netbox-chart/templates/configmap.yaml
Owners: none

Update configmap.yaml
  k8s/charts/netbox-chart/templates/configmap.yaml
Owners: none

Update configmap.yaml
  k8s/charts/netbox-chart/templates/configmap.yaml
Owners: none

Update deployment.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
Owners: none

Update deployment.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
Owners: none

Update configmap.yaml
  k8s/charts/netbox-chart/templates/configmap.yaml
Owners: none

Reverted Netbox configmap.
  k8s/charts/netbox-chart/templates/configmap.yaml
Owners: none

Reverted Netbox deployment revisions.
  k8s/charts/netbox-chart/templates/deployment.yaml
Owners: none

revert netbox to 2.8.5
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

DTSPO-8837 - Revert netbox to 2.8.5 (#1953)
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

Update mi-adf-auth-value for test
  apps/mi/mi-adf-shir/test/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Update mi-adf-auth-value for test (#1954)
  apps/mi/mi-adf-shir/test/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

fix changes in master
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

fix changes in master
  k8s/charts/netbox-chart/values.yaml
Owners: none

DTSPO-8837 - Add postStart commands to netbox (#1946)
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

Adding IAC Fees application flux config with sandbox only environment (#1949)
  apps/dts-legacy/automation/kustomization.yaml
  apps/dts-legacy/base/kustomization.yaml
  apps/dts-legacy/base/kustomize.yaml
  apps/dts-legacy/identity/identity.yaml
  apps/dts-legacy/lgy-iac-web/image-policy.yaml
  apps/dts-legacy/lgy-iac-web/image-repo.yaml
  apps/dts-legacy/lgy-iac-web/lgy-iac-web.yaml
  apps/dts-legacy/sbox/base/kustomization.yaml
  apps/flux-system/automation/kustomization.yaml
  clusters/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

Remove toffee apps from dev but mi's and namespace
  apps/toffee/dev/base/kustomization.yaml
Owners: @hmcts/platform-operations

Remove toffee apps from dev but mi's and namespace (#1955)
  apps/toffee/dev/base/kustomization.yaml
Owners: @hmcts/platform-operations

Migrate Toffee to Flux V2
  apps/toffee/frontend/prod.yaml
  apps/toffee/identity/prod.yaml
  apps/toffee/prod/base/kustomization.yaml
  apps/toffee/recipe-backend/prod.yaml
  apps/toffee/recipe-receiver/prod.yaml
  clusters/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update stg IR secret
  apps/mi/mi-adf-shir/stg/mi-adf-auth-values.enc.yaml
  apps/mi/mi-azure-functions/dev.yaml
  apps/mi/mi-azure-functions/ithc.yaml
  apps/mi/mi-azure-functions/sbox.yaml
  apps/mi/mi-azure-functions/stg.yaml
  apps/mi/mi-azure-functions/test.yaml
Owners: @hmcts/mi

Update stg IR secret (#1956)
  apps/mi/mi-adf-shir/stg/mi-adf-auth-values.enc.yaml
  apps/mi/mi-azure-functions/dev.yaml
  apps/mi/mi-azure-functions/ithc.yaml
  apps/mi/mi-azure-functions/sbox.yaml
  apps/mi/mi-azure-functions/stg.yaml
  apps/mi/mi-azure-functions/test.yaml
Owners: @hmcts/mi

add to kustomization file
  clusters/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

file cleanup
  apps/toffee/base/kustomization.yaml
  apps/toffee/frontend/demo.yaml
  apps/toffee/frontend/ithc.yaml
  apps/toffee/frontend/prod.yaml
  apps/toffee/frontend/sbox.yaml
  apps/toffee/frontend/toffee-frontend.yaml
  apps/toffee/recipe-backend/demo.yaml
  apps/toffee/recipe-backend/ithc.yaml
  apps/toffee/recipe-backend/sbox.yaml
  apps/toffee/recipe-backend/toffee-recipe-backend.yaml
  apps/toffee/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

remove apple from non-sbox env
  apps/toffee/demo/base/kustomization.yaml
  apps/toffee/dev/base/kustomization.yaml
  apps/toffee/ithc/base/kustomization.yaml
  apps/toffee/sbox/base/kustomization.yaml
  apps/toffee/stg/base/kustomization.yaml
Owners: @hmcts/platform-operations

SDP Update dev shir
  apps/mi/mi-adf-shir/dev/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

SDP Update dev shir (#1958)
  apps/mi/mi-adf-shir/dev/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi
