Repository hmcts/sds-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/hmi, @hmcts/mi, @hmcts/pip-admins, @hmcts/vh-devops

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/sds-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# Production applications
## environment rules
## prod approvals process needs clarified
k8s/environments/prod/ @hmcts/platform-operations

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/namespaces/kube-system/ @hmcts/platform-operations
k8s/namespaces/monitoring/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### Platform Operations

k8s/namespaces/admin/ @hmcts/platform-operations
k8s/namespaces/azure-devops/ @hmcts/platform-operations
k8s/namespaces/jenkins/ @hmcts/platform-operations
k8s/namespaces/neuvector/ @hmcts/platform-operations
k8s/namespaces/toffee/ @hmcts/platform-operations

apps/admin/ @hmcts/platform-operations
apps/azure-devops/ @hmcts/platform-operations
apps/jenkins/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/toffee/ @hmcts/platform-operations

### HMI
k8s/namespaces/hmi/ @hmcts/hmi
apps/hmi/ @hmcts/hmi

### MI
k8s/namespaces/mi/ @hmcts/mi
apps/mi/ @hmcts/mi

### PIP
k8s/namespaces/pip/ @hmcts/pip-admins
apps/pip/rpe-send-letter-service/ @hmcts/pip-admins

## VH
k8s/namespaces/vh/ @hmcts/vh-devops
apps/vh/ @hmcts/vh-devops

### Next team

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

update stg identity for ado
  apps/azure-devops/azure-devops-agent/stg.yaml
Owners: @hmcts/platform-operations

update stg identity for ado (#1933)
  apps/azure-devops/azure-devops-agent/stg.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - add recipe receiver config
  apps/toffee/recipe-receiver/demo.yaml
  apps/toffee/recipe-receiver/image-policy.yaml
  apps/toffee/recipe-receiver/image-repo.yaml
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/staging.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - deploy recipe receiver to staging
  apps/toffee/automation/kustomization.yaml
  apps/toffee/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - deploy recipe receiver to staging
  apps/toffee/recipe-receiver/staging.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - deploy recipe receiver to staging
  apps/toffee/recipe-receiver/stg.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - add recipe receiver config (#1934)
  apps/toffee/automation/kustomization.yaml
  apps/toffee/base/kustomization.yaml
  apps/toffee/recipe-receiver/demo.yaml
  apps/toffee/recipe-receiver/image-policy.yaml
  apps/toffee/recipe-receiver/image-repo.yaml
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/stg.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - deploy recipe-receiver to sbox,demo and ithc
  apps/toffee/demo/base/kustomization.yaml
  apps/toffee/ithc/base/kustomization.yaml
  apps/toffee/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - deploy recipe-receiver to sbox,demo and ithc (#1935)
  apps/toffee/demo/base/kustomization.yaml
  apps/toffee/ithc/base/kustomization.yaml
  apps/toffee/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - switch to values files for envs
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/stg.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - switch to values files for envs (#1936)
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/stg.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - add missing staging reference
  apps/toffee/stg/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 keda staging (#1937)
  apps/toffee/stg/base/kustomization.yaml
Owners: @hmcts/platform-operations

update traefik ip to match updated public ip for lb
  apps/admin/traefik-auth-proxy/traefik-auth-proxy.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - fix flux config for keda
  apps/toffee/recipe-receiver/demo.yaml
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/stg.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

add disableTraefikTls to demo
  apps/toffee/frontend/demo.yaml
Owners: @hmcts/platform-operations

DTSPO-8837 - Update toffee traefik tls setting demo (#1940)
  apps/toffee/frontend/demo.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - fix flux config for keda (#1939)
  apps/toffee/recipe-receiver/demo.yaml
  apps/toffee/recipe-receiver/ithc.yaml
  apps/toffee/recipe-receiver/sbox.yaml
  apps/toffee/recipe-receiver/stg.yaml
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - update ENVIRONMENT var
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - update ENVIRONMENT var
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - add recipe receiver gitrepo
  apps/flux-system/base/kustomization.yaml
  apps/flux-system/base/toffee-recipe-receiver-gitrepo.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - fix gitrepo name
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - fix env vars
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

DTSPO-8169 - fix env vars (#1941)
  apps/toffee/recipe-receiver/toffee-recipe-receiver.yaml
Owners: @hmcts/platform-operations

Revert "Update helm values netboxcommunity/netbox to v2.11.12 (#1803)"
  k8s/charts/netbox-chart/values.yaml
Owners: none

Revert "Update helm values netboxcommunity/netbox to v2.11.12" (#1942)
  k8s/charts/netbox-chart/values.yaml
Owners: none

Update helm values netboxcommunity/netbox to v2.11.12
  k8s/charts/netbox-chart/values.yaml
Owners: none

Fixed wrong clientId for stg
  apps/mi/mi-azure-functions/stg.yaml
Owners: @hmcts/mi

Fixed wrong clientId for stg (#1944)
  apps/mi/mi-azure-functions/stg.yaml
Owners: @hmcts/mi

add fixes for netbox upgrade
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

add fixes for netbox upgrade (#1945)
  k8s/charts/netbox-chart/templates/configmap.yaml
  k8s/charts/netbox-chart/templates/deployment.yaml
  k8s/charts/netbox-chart/values.yaml
Owners: none

add postStart commands
  k8s/charts/netbox-chart/templates/deployment.yaml
Owners: none

Update mi-adf-auth-values.enc.yaml
  apps/mi/mi-adf-shir/sbox/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Update mi-adf-auth-values.enc.yaml
  apps/mi/mi-adf-shir/sbox/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Update mi-adf-auth-values.enc.yaml
  apps/mi/mi-adf-shir/sbox/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Update mi-adf-auth-values.enc.yaml for sbox (#1947)
  apps/mi/mi-adf-shir/sbox/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Adding IAC Fees application flux config with sandbox only environment
  apps/dts-legacy/automation/kustomization.yaml
  apps/dts-legacy/base/kustomization.yaml
  apps/dts-legacy/base/kustomize.yaml
  apps/dts-legacy/identity/identity.yaml
  apps/dts-legacy/lgy-iac-web/image-policy.yaml
  apps/dts-legacy/lgy-iac-web/image-repo.yaml
  apps/dts-legacy/lgy-iac-web/lgy-iac-web.yaml
  apps/dts-legacy/sbox/base/kustomization.yaml
  apps/flux-system/automation/kustomization.yaml
  clusters/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update adf ithc config
  apps/mi/mi-adf-shir/ithc/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

fix linting
  apps/mi/mi-adf-shir/ithc/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi

Update adf ithc config (#1948)
  apps/mi/mi-adf-shir/ithc/mi-adf-auth-values.enc.yaml
Owners: @hmcts/mi
